<!-- <table class="table">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Species</th>
  </tr>
  <tr>
    <td>detail1</td>
    <td>detail2</td>
    <td>detail3</td>
    <td>detail4</td>
  </tr>
</table> -->

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">{{first}}</th>
      <th scope="col">{{last}}</th>
      <th scope="col">{{species}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
    </tr>
    <tr>
      <td>Jacob</td>
    </tr>
    <tr>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>